---
layout: 'base.njk'
---

<article>
<div class="container">
  
    <h1 class="article-title text-center">
        {{ title }}
    </h1>
    <figure>
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
          {{ imageAlt }}
      </figcaption>
    </figure>
    <div class="copy">
        {{ content | safe }}
    </div>
</div>
</article>
