 <header>
  <div class="container">
    <div class="header-content">
      <div>
        <a href="/"><h3>Visible Language</h3></a>
      </div>
      <nav>
            <a href="/blog/">+</a>
      </nav>
    </div>
  </div>
</header>