 <header>
  <div class="container header">
    <div class="header-content">
      <div>
        <a href="/"><h3>Visible Language</h3></a>
      </div>
      <div class="toggle">
      <nav class="label">
            <div class="content">
              <p><strong>About</strong></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta aliquet neque vel placerat. Donec nec efficitur sem. Aliquam erat volutpat. Donec porttitor elit sit amet risus dignissim sodales. Phasellus posuere facilisis imperdiet. Sed consequat nulla ac eros accumsan facilisis. Duis sagittis faucibus diam quis tincidunt. Fusce vel tristique augue.

Nam posuere dolor sit amet rutrum mattis. Nunc ac tristique lorem, vehicula auctor nulla. Curabitur gravida turpis eu ornare auctor. Pellentesque vehicula venenatis eros, nec blandit justo imperdiet non. Maecenas vel bibendum sem, non volutpat augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc quis lobortis nulla. In venenatis neque mauris, at blandit magna lacinia nec. Donec nec diam vel magna dapibus rhoncus. In hac habitasse platea dictumst.</p>
            </div>

      </nav>
      </div>
    </div>
  </div>
</header>