---
title: Blog
layout: 'base.njk'
---

<div class="container">
<h1 class="hero">Recent articles</h1>

<ul class="list">

  {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
  {% endfor %}

</ul>

</div>