---
title: My Homepage
layout: 'base.njk'
---

<section class="container">
  <div class="hero">
    <h1 >Research & Development</h1>
    <p class>A collection of trials and experiments with the affordances of analogue & digital media.</p>
  </div>
</section>

<section class="container">
      <ul class="list">

        {%- for post in collections.post | reverse -%}
          {% include 'article-snippet.njk' %}
        {% endfor %}
      
      </ul>
</section> 
 

