@font-face {
  font-family: "ABC Diatype Semi-Mono Variable Edu";
  src: url("src/assets/fonts/ABCDiatypeSemi-MonoVariableEdu.ttf") format("ttf");
  src: url("src/assets/fonts/ABCDiatypeSemi-MonoVariableEdu.woff") format("woff")
  }

:root {
  --fs-body: 1em;
  --fs-hero: 2em;
  --fs-tags: 0.5em;

  --ff-body: "ABC Diatype Semi-Mono Variable Edu", sans-serif;
  --ff-heading: "ABC Diatype Semi-Mono Variable Edu", sans-serif;

  --fw-regular: regular;
  --fw-medium: medium;
  --fw-bold: bold;

  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-highlight: rgb(0, 255, 194);

}

@media (min-width: 35em) {
  :root {
    --fs-body: 1em;
    --fs-title: 1.5em;
    --fs-hero: 2em;
    --fs-tags: 0.75em;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
a,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background-color: var(--clr-dark);
}


/* Make images easier to work with */
img,
picture {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-black);
  letter-spacing: -0.25px;
}

h1 {
  font-size: var(--ff-hero);
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  text-decoration: none;
  
}

span {
  font-weight: var(--fw-bold);
}




/* //////////////////////
  Utility Classes
  /////////////////////// */


.container {
  margin: auto;
  max-width: 90%;
}

/* typgraphy */

h1 {
  font-size: var(--fs-hero);
  -webkit-text-stroke: 1px var(--clr-black);
  z-index: 1;
}

.text-center {
  text-align: center;
}

.copy p {
  text-indent: 1.5em;

}


/* //////////////////////
  Header
  /////////////////////// */

header {
  padding: 1em 0 2em 0;
  position: fixed;
  width: 100%;
  background: linear-gradient(180deg, var(--clr-highlight) 50%, rgba(255, 255, 255, 0) 100%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  text-decoration: none;
  color: var(--clr-black);
  
}

.label::before {
  content: '+';
  cursor: pointer;
  right: 0;
}

.toggle.active .label::before {
  content: '–';
  cursor: pointer;
  right: 0;
}

.toggle .content {
  display: none;
}

.toggle.active {
  height: 100vh;
  z-index: 2;

}

.toggle.active .content {
  position: absolute;
  width: 75%;
  top: 5em;
  left: 5%;
  display: block;
  height: 100vh;
  overflow: scroll;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  padding: 2em 0 1em 0;
  color: var(--clr-light);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--clr-highlight) 54.69%);
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero {
  align-items: left;
  padding: 8em 0 1em 0;
}

.hero p {
  margin-top: 0.5em;
}

.list {
  margin-bottom: 5em;
}



/* //////////////////////
  Individual article page
  /////////////////////// */

  figure {
    width: 60%;
    margin: 2em auto;
  }

  .article-title {
    position: relative;
    top: 1em;
    font-size: 5em;
    color: var(--clr-highlight);
    stroke: var(--clr-black);
  }

  .copy {
    column-count: 2;
    gap: 2em;
    column-fill: balance;
    column-rule: none;
    margin-bottom: 5em;
    font-size: 1em;
  }

  @media (max-width: 768px) {
    .copy {
      column-count: 1;
    }
  }



/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  grid-template-areas: "title date tags";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5em 0;
  border-top: solid 1px var(--clr-black);
}

.title {
  grid-area: title;
}

.date {
  grid-area: date;
}

.tags {
  grid-area: tags;
}

.tag {
  margin-right: 0.5em;
  width: 100%;
}

.snippet-content {
  width: 100%;
  padding-top: 0.5em;
}

@media (max-width: 768px) {
  .snippet {
    display: grid;
    grid-template-areas: "title date" "tags tags";
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
  }
}